h1 {
  color: gray;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: white;
}

p {
  color: white;
}

body {
  background-color: darkred;
  font-family: sans-serif;
  text-align: center;
}
