body {
  background-color: #662461;
}

p {
  font-style: normal;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
}

h1{
  font-size: 75px;
  font-style: normal;
  font-family: serif;
  font-weight: 400;
  font-stretch: semi-expanded;
  color: #ffdbde;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 200;
  font-family: cursive;
  font-stretch: expanded;
  font-style: italic;
  text-align: center;
  color: #ffdbde;
}

h3 {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 200;
  font-stretch: condensed;
  align-items: center;
}

img {
  border: 2px;
  border-width: thin;
}

p.special {
  font-size: 18px;
  font-family: cursive;
  font-weight: bolder;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
